@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$theme: ( 
    colors:( 
        primary: #E8BB61, 
        secondary: #9C1A21, 
        tertiary:#EDDDB5, 
        error:#A21C28, 
        success:#3FA25E, 
        black: #000000, 
        white: #ffffff, 
        shadow: #00000036), 
    font:(

    )
);
@function colors($keys...) {
    $value: map-get($theme, colors);
    @each $key in $keys {
        $value: map-get($value, $key);
    }
    @return $value;
};


@function shadow() {
    $value: 0px 3px 6px colors(shadow);
    @return $value;
}

